@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

html {
  font-family: 'Ubuntu', Arial, sans-serif;
}

h3 {
  font-family: 'Lora', Arial, sans-serif;
}

p {
  color:#00926E;
}
